<!DOCTYPE HTML>

<html>
	<head>
		<title>Vishal Joshi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link rel="shortcut icon" href="./static/icon.ico" type="image/x-icon">
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">About me</a></li>
							<li><a href="#two">Works</a></li>
							<li><a href="#three">Contact me</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Hi! I'm Vishal Joshi</h1>
							<p>I'm a student studying Computer Science and Engineering  <br />
							and an enthusiastic learner. Welcome to my portfolio.</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="./static/images/Vishal_Joshi2.jpeg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>About me</h2>
									<p></p>
									<ul class="actions">
										<li><a href="aboutme.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="./static/images/pic02.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Background and Hobbies</h2>
									<p></p>
									<ul class="actions">
										<li><a href="background.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="./static/images/pic03.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Interests</h2>
									<p></p>
									<ul class="actions">
										<li><a href="interests.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Works</h2>
							<p>The projects developed by me since I started my Engineering are listed below...</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Student Project Management System</h3>
									<p>A project management system developed for managing the academic projects done by students. This system can be used by faculties.</p>

								</section>

								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Cricket Match Management System</h3>
									<p>A System developed to manage all the data associated with Cricket matches with suitable backend technology.</p>

								</section>

								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Employee Data Management System</h3>
									<p>A System to manage the data of employees any particular Organization with backend PHP and SQL managed with suitable Database Management System.</p>

								</section>

								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Frontend Website</h3>
									<p>A Frontend Website developed to  simulate the Crowdfunding Website with interlinking webpages. To learn more, click below...</p>
									<!--<br><br>
									-->

								</section>
							<!--
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>Password Validator</h3>
									<p>A project developed to check whether the password is hacked or leaked anytime before.</p>

								</section>
								<section>
									<span class="icon major fa-gem"></span>
									<h3>Image Manipulator</h3>
									<p>An application developed to manipulate any image with operations resize and convert types.</p>

								</section>
								-->
							</div>
							<ul class="actions">
										<li><a href="projects_1.html" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Contact Me</h2>
							<p>Fill your details below and get in contact with me by sending message. The personal details have been provided below if you want to email or call me. Thank You.</p>
							<div class="split style1">
								<section>
									<form method="post" action="submit">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" required/>
											</div>
											<div class="field half">
												<label for="email">Email Id</label>
												<input type="text" name="email" id="email" required/>
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5" required></textarea>
											</div>
										</div>
										<button type="submit" class="button submit">Send Message</button>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>
											Belgaum, Karnataka<br />
											INDIA</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="mailto:vishaljoshi03596@gmail.com">vishaljoshi03596@gmail.com</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>+917349701450</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://twitter.com/vishaljoshi0531" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="https://www.facebook.com/profile.php?id=100011584489192" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
												<li><a href="https://github.com/VishalJoshiVJ" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="https://www.instagram.com/vishaljoshi7145" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="https://www.linkedin.com/in/vishal-joshi-b20a12194" target="_blank" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Vishal Joshi. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>