<!DOCTYPE HTML>

<html>
	<head>
		<title>Projects</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link rel="shortcut icon" href="./static/icon.ico" type="image/x-icon">
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload" id="body">

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="title">Vishal Joshi</a>
				<nav>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="projects_2.html"><strong>Projects</strong></a></li>
						<li><a href="elements.html"></a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<p></p>

				<ul class="actions">
					<li><a href="#main" class="button submit">Cricket Match Management System</a></li>
					<li><a href="#main2" class="button submit">Password Validator</a></li>
					<li><a href="#main3" class="button submit">Image Manipulator</a></li>
				</ul>

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Cricket Match Management System</h1>
							<span class="image fit"><img src="./static/images/homepage.png" alt="" /></span>
							<p>
								An Application to manage the data associated with a cricket match and to manage the live matches...
							</p>
							<p>
								<h3>Details</h3>
							<ul>
								<li>User can Schedule a match, delete a scheduled match, can view the scheduled matches.</li>
								<li>User can add the result of scheduled matches and the winner will be calculated automatically.</li>
								<li>User can view the result of the match where in all match data will be displayed.</li>
								<li>If any live match is to be managed, then user can do so by updating toss, scores,
									wickets of both teams provided match is scheduled already, and winner will be decided automatically.</li>
								<li>User can schedule the matches of tournament.</li>
							</ul>
							</p>

							<p>
								<h3>Specifications</h3>
								<ul>
									<li>Programming Language : Python</li>
									<li>Application type : GUI</li>
									<li>GUI developed using Python Tkinter</li>
									<li>Database(DBMS) used : SQLite</li>
								</ul>
							</p>

							<ul class="actions">
								<li><a href="https://github.com/VishalJoshiVJ/Cricket_Match_Management_System.git" target="_blank" class="button submit">GitHub Link</a></li>
								<li><a href="#body" class="button icon solid fa-upload">Top</a></li>
							</ul>

						</div>
					</section>

                    <section id="main2" class="wrapper style3 fade-up">
						<div class="inner">
							<h1 class="major">Password Validator/ Checker</h1>
							<span class="image fit"><img src="./static/images/validator.png" alt="" /></span>

							<p>
								An Application developed in Python to check whether the given password has been hacked or leaked before
								by anyone...
							</p>
							<p>
								<h3>Details</h3>
							<ul>
								<li>This is a Console based application</li>
								<li>User has to input the password to be checked to the console.</li>
								<li>The password will be hashed using SHA1 Hashing algorithm.</li>
								<li>Api service of pwnedpasswords.com will be used to know how many times the password is been hacked.</li>
								<li>For the api service, the hashed version of password will be sent so that there will be no chances to leak that password.</li>
								<li>Finally, the status of the password will be the output as how many times the password is hacked. And if it is never been, then
									respective message will be displayed.</li>
							</ul>
							</p>

							<p>
								<h3>Specifications</h3>
								<ul>
									<li>Application developed using python.</li>
									<li>Application type : Console</li>
									<li>Hashing Algorithm used : SHA1</li>
								</ul>
							</p>

							<ul class="actions">
								<li><a href="https://github.com/VishalJoshiVJ/Password_Validator.git" target="_blank" class="button submit">GitHub Link</a></li>
								<li><a href="#body" class="button icon solid fa-upload">Top</a></li>
							</ul>

						</div>
					</section>

                    <section id="main3" class="wrapper style1 fade-up">
						<div class="inner">
							<h1 class="major">Image Manipulator</h1>
							<span class="image fit"><img src="./static/images/resizer.jpg" alt="" /></span>

							<p>
								An application developed to manipulate image like resize and convert the type of the image...
							</p>
							<p>
								<h3>Details</h3>
							<ul>
								<li>User has to enter the directory in which the image is present on the machine.</li>
								<li>User can type the desired dimensions of the image to be resized.</li>
								<li>User can convert the image types eg. from JPEG to PNG, JPG to PNG and vice versa.</li>
								<li>After filling all the required fields, the message will be displayed on the screen and the new image will be saved to the
									location as that of original image.</li>
							</ul>
							</p>

							<p>
								<h3>Specifications</h3>
								<ul>
									<li>Application developed using Python.</li>
									<li>Application type : GUI</li>
									<li>GUI developed using Python Tkinter.</li>
								</ul>
							</p>


							<ul class="actions">
								<li><a href="https://github.com/VishalJoshiVJ/Image_Manipulator.git" target="_blank" class="button submit">GitHub Link</a></li>
								<li><a href="#body" class="button icon solid fa-upload">Top</a></li>
							</ul>

							<ul class="actions" style="float:right;">
								<li><a href="projects_1.html" class="button submit">Previous page</a> </li>
							</ul>
						<br>

						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Vishal Joshi. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>