<!DOCTYPE HTML>

<html>
	<head>
		<title>Projects</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link rel="shortcut icon" href="./static/icon.ico" type="image/x-icon">
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload" id="body">

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="title">Vishal Joshi</a>
				<nav>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="projects_1.html"><strong>Projects</strong></a></li>
					</ul>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<p></p>

				<ul class="actions">
					<li><a href="#main" class="button submit">Project Management System</a></li>
					<li><a href="#main2" class="button submit">Frontend Website</a></li>
					<li><a href="#main3" class="button submit">Hospital Data Management System</a></li>
				</ul>

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Project Management System</h1>
							<span class="image fit"><img src="./static/images/project management.jpg" alt="" /></span>
							<p>
								A Frontend application developed to simulate the management system for academic projects, to be used
								by Faculty...
							</p>
							<p>
								<h3>Details</h3>
							<ul>
								<li>User can Add new Students, Student Groups and Faculty to the system.</li>
								<li>User can assign project to any of the groups as needed.</li>
								<li>User can delete Students, Student Groups and Faculties and can delete the assigned project if required.</li>
								<li>As the part of evaluation, User can Assign report ans presentation marks to the groups and Final marks will be calculated automatically.</li>
								<li>Finally, the user can view any of the information needed about Students, Groups, Faculties and Marks assigned.</li>
							</ul>
							</p>

							<p>
								<h3>Specifications</h3>
								<ul>
									<li>Programming Language : Java</li>
									<li>Application type : GUI, Console</li>
									<li>GUI developed using Java Swings</li>
								</ul>
							</p>

							<ul class="actions">
								<li><a href="https://github.com/VishalJoshiVJ/Project_Management_System.git" target="_blank" class="button submit">GitHub Link</a></li>
								<li><a href="#body" class="button icon solid fa-upload">Top</a></li>
							</ul>

						</div>
					</section>

                    <section id="main2" class="wrapper style3 fade-up">
						<div class="inner">
							<h1 class="major">Crowdfunding Website</h1>
							<span class="image fit"><img src="./static/images/website.jpeg" alt="" /></span>

							<p>
								A Frontend website developed to simulate the working for Crowdfunding website with interlinked
								webpages...
							</p>
							<p>
								<h3>Details</h3>
							<ul>
								<li>User can signup and login to the system.</li>
								<li>Two homepages are provided for the user to spread awareness about Crowdfunding.</li>
								<li>In the second homepage, links for different social medias are provided.</li>
								<li>The official Government of India funding links are provided for user to fund to the projects initiated by Govt. of India.</li>
								<li>As a part of this website, three forms have been provided which can be accessed by dropdown menu. User can fill the form,
								can print the filled form and can click on submit button provided.</li>
								<li>Finally, the user can logout from website.</li>
							</ul>
							</p>

							<p>
								<h3>Specifications</h3>
								<ul>
									<li>Website developed using HTML, CSS, Javascript, Angular JS and Bootstrap.</li>
									<li>Application type : Frontend</li>
								</ul>
							</p>

							<ul class="actions">
								<li><a href="https://github.com/VishalJoshiVJ/Crowdfunding_FrontEnd.git" target="_blank" class="button submit">GitHub Link</a></li>
								<li><a href="#body" class="button icon solid fa-upload">Top</a></li>
							</ul>

						</div>
					</section>

                    <section id="main3" class="wrapper style1 fade-up">
						<div class="inner">
							<h1 class="major">Hospital Data Management System</h1>
							<span class="image fit"><img src="./static/images/hospital.jpeg" alt="" /></span>

							<p>
								A website developed to manage the data associated with hospital, can be used to manage the data...
							</p>
							<p>
								<h3>Details</h3>
							<ul>
								<li>After entering in the website, user can add new patients, doctors, rooms, nurses and department.</li>
								<li>User can select any option provided in the navigation bar on homepage and will be redirected to the respective webpage.</li>
								<li>User can get information about hospital on the 'Info' section given in which the patient list is provided along with some other info.</li>
								<li>User can update patient information and can delete patient also.</li>
							</ul>
							</p>

							<p>
								<h3>Specifications</h3>
								<ul>
									<li>Frontend is developed using HTML, CSS, Javascript and Bootstrap.</li>
									<li>Application type : Frontend and Backend</li>
									<li>Database(DBMS) used : Oracle</li>
									<li>Backend connected using PHP</li>
								</ul>
							</p>


							<ul class="actions">
								<li><a href="https://github.com/VishalJoshiVJ/Hospital_Data_Management.git" target="_blank" class="button submit">GitHub Link</a></li>
								<li><a href="#body" class="button icon solid fa-upload">Top</a></li>
							</ul>

							<ul class="actions" style="float:right;">
								<li><a href="projects_2.html" class="button submit">Next page</a> </li>
							</ul>
						<br>

						</div>

					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Vishal Joshi. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>